{% extends 'book/base.html' %}
{% block content %}
{% load static %}
    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>당신의 인생책은?</strong>
            </h1>
          </div>
          <!-- <div class="col-lg-8 mx-auto"> -->
          <div class="fullscreen_search_cell">
            <div class="fullscreen_search_inner">
            <form role="search" action="/search" class="fullscreen_search_form" method="post">{% csrf_token %}
              <div class="form_holder">
                <!-- <span class="search_label">Search:</span> -->
                <div class="field_holder">
                  <input type="text" name="title" class="search_field" autocomplete="off">
                  <div class="line" style="width: 0px;"></div>
                </div>
                  <a class="qode_search_submit search_submit" method="post" href="javascript:void(0)">
                  <i class="qode_icon_font_awesome fa fa-search "></i>                                </a>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </header>

    
    <section class="blog-area section-gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 pb-30 header-text">
                    <h1>현재 베스트셀러 순위</h1>
                </div>
            </div>
            <div class="row">
               {% for books in bookList %}
                <div class="single-blog col-lg-4 col-md-4">
                   <a class="portfolio-box">
                      <img class="f-img img-fluid mx-auto" src={{books.img_path}}>
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                           {{books.index}}
                          </div>
                        </div>
                      </div>
                    </a>
                </div>
                {% endfor %}				
            </div>
        </div>
    </section>
{% endblock %}
